.Header {
  position: sticky;
  top: 0;
}

/*styles header*/

.mak-navbar{
  padding: 0.8rem 0;
  background-color: var(--bg-blue);
  box-shadow: 0px 2px 15px 5px rgb(80, 188, 181);
}

.mak-navbar .row{
  align-items: center;
}

.mak-navbar .mak-brand{
  font-family: var(--sono);
  color: var(--bg-white);
  font-size: 2.5rem;
}


.mak-navbar .mak-nav ul{
  justify-content: end;
  align-items: center;
  margin-bottom: 0;
 
 
}

.mak-navbar .mak-nav ul li{
  margin: 0 2rem;
}

.mak-navbar .mak-nav ul li a{
  color: var( --text-black);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.3rem;
}

.mak-navbar .mak-nav ul li a:hover{
  color: var( --text-white);
}

.mak-navbar .mak-nav ul li .active{
  color: var( --text-white);
  font-weight: 700;
}
 